
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Category</h2>
<a href="/Categories" class="btn btn-primary btn-lg">Select Diffrent Categories &raquo;</a>
