@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab 2 Selecting Categories</h1>
    <p class="lead">Lab 2 Add.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>