@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab 2 Selecting Categories</h1>
    <p><a href="/Categories" class="btn btn-primary btn-lg">Select Categories &raquo;</a></p>
</div>