@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lab 2 Selecting Categories</h1>
    <p class="lead">Lab 2.</p>
    <p><a href="~/Controllers/CategoriesController.cs" class="btn btn-primary btn-lg">Select Categories &raquo;</a></p>
</div>